@import url('https://fonts.googleapis.com/css?family=Concert+One');


body {
  background: rgba(128,128,128,0.5) url('../res/ttt_bg.png');
  background-size: 20vw 20vw;
  font-family: 'Concert One', cursive;
  /* background-repeat: space; */
  animation: slide 30s linear infinite;

}

@keyframes slide{
  0%{
    background-position: 0vw 100vw
  }
  100%{
    background-position: 100vw 0vw
  }
}

.container {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

#gameboard {
  padding: 2vw;
  background-color: white;
  position: relative;
  border-radius: 2vw;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  max-width: 640px;
  max-height: 640px;
  height: calc( 100vmin - 11vmax );
  width: calc( 100vmin - 11vmax );
  min-width: 320px;
  min-height: 320px;
  /* margin: auto auto; */
  box-shadow: 1vw 1vw 1vw rgba(0,0,0,0.25);
}

h1#title {
  font-size: 7vmin;
  margin: .125em;
  color: #FFF;
  text-shadow: .1em .1em .1em rgba(0,0,0,0.25);
  min-width: 341px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 640px;
  width: calc( 100vmin - 11vmax );
}

.slot {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vmin;
  transition: .5s color;
}

.slot:nth-child(-n+6) {
  border-bottom: 1px solid grey;
}

.slot:nth-child(3n+2) {
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.slot.win {
  color: green;
}

.winmsg {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: white;
  padding: .25em;
  border-radius: .5em;
  box-shadow: .25em .25em .25em rgba(0,0,0,0.25);
  border: 2px solid green;
  font-size: 4vmin;
  display: flex;
  align-content: space-between;
  align-items: center;
  justify-content: space-around;
}

.menubutton {
  font-size: 4vmin;
  grid-column: span 3;
  margin: .25em;
  background-color: grey;
  border-radius: .25em;
  box-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.5);
  color: white;
  border: 0;
}

.menubutton:nth-child(1){
  background-color: red;
}

.menubutton:nth-child(2){
  background-color: green;
}

.menubutton:nth-child(2){
  background-color: blue;
}

.score{
  color: red;
  font-size: 4vmin;
}

.waiting {
  grid-column: span 3;
  grid-row: span 3;
  /* background-color: red; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.waitng span {
  font-size: 4vmin;
  margin-top: 1em;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50%;
  height: 50%;
  /* margin: auto; */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
